@import "tailwindcss";

html {
  color-scheme: light;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-olive-green: #6B8E23;
  --color-beige: #F5F5DC;
  --color-wheat-brown: #D2B48C;
  --color-off-white: #FAF9F6;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}